<div class="partial-container">
    <div id="cover-container">
        <span>
            <img src="img/chicken.png">
        </span>
    	
        <div class="col-xs-3">
            <!-- Filler -->
        </div>
        <div class="col-xs-6 row about-desc">
            <div class="col-xs-6">
                <img class="about-photo" src="img/ramen_circle.jpg">
            </div>
            <div class="col-xs-6">
                <div class="about-aligntable">
                    <div class="about-aligncell">
                        <h2>welcome.</h2>
                    </div>
                </div>
            </div>
        <div class="col-xs-3">
            <!-- Filler -->
        </div>
    </div>
</div>
