<div class="container content-container">
	
    <!-- SpoonRocket -->
    <div class="row">
        <div class="col-md-2">
            <!-- Filler -->
		</div>
        <div class="col-md-8">
				<div class="project-panel">
                    <div class="panel-hover">
                        <h2>SpoonRocket Data Analysis</h2>
                        <p>The results of my initial data analyses were presented at a Student Learning and Analytics at Michigan (SLAM) seminar. I worked closely with Christopher Brooks and working on longitudinal analyses of courses offered multiple times. Many of the Python scripts that we have written are available publicly at the USE Lab Bitbucket repository.</p>
                        <p>View <a href="http://www.crlt.umich.edu/node/57778">SLAM Seminar: Massive Michigan</a>
                        <p>Visit <a href="https://bitbucket.org/umuselab">USE Lab Bitbucket</a></p>
                    </div>
                    <div class = "helper"></div><img src="img/spoonrocket.png">
				</div>
		</div>
        <div class="col-md-2">
            <!-- Filler -->
		</div>
    </div>
    
    <!-- VibeFire -->
	<div class="row">
		<div class="col-md-2">
            <!-- Filler -->
		</div>
        <div class="col-md-8">
				<div class="project-panel">
                    <div class="panel-hover">
                        <h2>SpoonRocket Data Analysis</h2>
                        <p>The results of my initial data analyses were presented at a Student Learning and Analytics at Michigan (SLAM) seminar. I worked closely with Christopher Brooks and working on longitudinal analyses of courses offered multiple times. Many of the Python scripts that we have written are available publicly at the USE Lab Bitbucket repository.</p>
                        <p>View <a href="http://www.crlt.umich.edu/node/57778">SLAM Seminar: Massive Michigan</a>
                        <p>Visit <a href="https://bitbucket.org/umuselab">USE Lab Bitbucket</a></p>
                    </div>
                    <div class = "helper"></div><img src="img/vibefire.png">
				</div>
		</div>
		<div class="col-md-2">
            <!-- Filler -->
		</div>
	</div>
    
    <!-- Weighted Undirected Graphs -->
	<div class="row">
		<div class="col-md-2">
            <!-- Filler -->
		</div>
        <div class="col-md-8">
				<div class="project-panel">
                    <div class="panel-hover">
                        <h2>SpoonRocket Data Analysis</h2>
                        <p>The results of my initial data analyses were presented at a Student Learning and Analytics at Michigan (SLAM) seminar. I worked closely with Christopher Brooks and working on longitudinal analyses of courses offered multiple times. Many of the Python scripts that we have written are available publicly at the USE Lab Bitbucket repository.</p>
                        <p>View <a href="http://www.crlt.umich.edu/node/57778">SLAM Seminar: Massive Michigan</a>
                        <p>Visit <a href="https://bitbucket.org/umuselab">USE Lab Bitbucket</a></p>
                    </div>
                    <div class = "helper"></div><img src="img/akpsi.png">
				</div>
		</div>
		<div class="col-md-2">
            <!-- Filler -->
		</div>
	</div>
    
</div>
