<div class="partial-container">
	
    <!-- SpoonRocket -->
    <div class="row">
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
        <div class="col-xs-10">
				<div class="project-panel">
                    <div class="panel-hover project-aligntable">
                        <div class="project-aligncell">
                            <div class="hidden-xs">
                                <h2>SpoonRocket Data Analysis</h2>
                                <p>I assisted SpoonRocket with data analysis as a finance intern. My first project concerned forecasting, where I used Excel to measure the growth of orders week over week to properly gauge future supply. I then created a model for tracking and analyzing the number of active drivers, which required me to learn and use a series of window functions in PostgreSQL. My paramount project dealt with measuring historical sold out times using a Python script to parse CSV files for relevant data.</p>
                            </div>

                            <div class="visible-xs xs">
                                <h2>SpoonRocket Data Analysis</h2>
                                <p>I assisted SpoonRocket with data analysis as a finance intern. My first project concerned forecasting, where I used Excel to measure the growth of orders week over week to properly gauge future supply. I then created a model for tracking and analyzing the number of active drivers, which required me to learn and use a series of window functions in PostgreSQL. My paramount project dealt with measuring historical sold out times using a Python script to parse CSV files for relevant data.</p>
                            </div>
                        </div>
                    </div>
                    <div class = "helper"></div><img src="img/spoonrocket.png">
				</div>
		</div>
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
    </div>
    
    <!-- VibeFire -->
    <div class="row">
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
        <div class="col-xs-10 hidden-xs-*">
				<div class="project-panel">
                                        <div class="panel-hover project-aligntable">
                        <div class="project-aligncell">
                            <div class="hidden-xs">
                                <h2>VibeFire</h2>
                                <p>This music discovery application was built in less than 48 hours at LA Hacks 2014. The application is built on Rails and implements the Gracenote Rhythms API to access song, artist, and other information. This was my first experience working with APIs, and I worked primarily on front-end development.</p>
                                <p>Code available on <a href=https://github.com/andrewkoo/vibe-fire>GitHub</a></p>
                            </div>

                            <div class="visible-xs xs">
                                <h2>VibeFire</h2>
                                <p>This music discovery application was built in less than 48 hours at LA Hacks 2014. The application is built on Rails and implements the Gracenote Rhythms API to access song, artist, and other information. This was my first experience working with APIs, and I worked primarily on front-end development.</p>
                                <p>Code available on <a href=https://github.com/andrewkoo/vibe-fire>GitHub</a></p>
                            </div>
                        </div>
                    </div>
                    <div class = "helper"></div><img src="img/vibefire.png">
				</div>
		</div>
        
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
    </div>
    
    <!-- Weighted Undirected Graphs -->
    <div class="row">
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
        <div class="col-xs-10">
				<div class="project-panel">
                                        <div class="panel-hover project-aligntable">
                        <div class="project-aligncell">
                            <div class="hidden-xs">
                                <h2>Alpha Kappa Psi</h2>
                                <p>As the IT Director of the business fraternity Alpha Kappa Psi, I manage all aspects of the website. The website is a Rails application that maintains a database of fraternal documents, academic resources, and active forums. This year we will be focusing on rebuilding the website's front-end.</p>
                                <p>Live at <a href=http://calakpsi.com>http://calakpsi.com</a></p>
                            </div>

                            <div class="visible-xs xs">
                                <h2>Alpha Kappa Psi</h2>
                                <p>As the IT Director of the business fraternity Alpha Kappa Psi, I manage all aspects of the website. The website is a Rails application that maintains a database of fraternal documents, academic resources, and active forums. This year we will be focusing on rebuilding the website's front-end.</p>
                                <p>Live at <a href=http://calakpsi.com>http://calakpsi.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class = "helper"></div><img src="img/akpsi.png">
				</div>
		</div>
        <div class="col-xs-1">
            <!-- Filler -->
		</div>
    </div>
    
</div>
