<div class="container content-container">
	<div class="row">
        <div class="col-md-2">
            <!-- Filler -->
		</div>
        <div class="col-md-8">
			<a href="#projects/coursera">
				<div id="coursera" class="project-panel panel-sm">
					<div class="panel-hover">UM Coursera Data Analysis</div>
				</div>
			</a>
		</div>
        <div class="col-md-2">
            <!-- Filler -->
		</div>
    </div>
	<div class="row">
		<div class="col-md-2">
            <!-- Filler -->
		</div>
        <div class="col-md-8">
			<a href="#projects/courseviz">
				<div id="courseviz" class="project-panel panel-sm">
					<div class="panel-hover">UMSI Course Visualization Tool</div>
				</div>
			</a>
		</div>
		<div class="col-md-2">
            <!-- Filler -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
            <!-- Filler -->
		</div>
            <div class="col-md-8">
			<a href="#projects/smithsonian">
				<div id="smithsonian" class="project-panel panel-sm">
					<div class="panel-hover">Smithsonian Collections Blog</div>
				</div>
			</a>
		</div>
		<div class="col-md-2">
            <!-- Filler -->
		</div>
	</div>
    
</div>
